<div class="container-fluid">
  <div class="input-box">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        (keyup)="getProductByName($event)"
        placeholder="Pesquise aqui"
      />
      <div class="input-group-append">
        <i class="icon-search"></i>
      </div>
    </div>
  </div>

  <div class="card-box">
    <ng-container *ngFor="let product of products">
      <div class="card">
        <button class="card-button">
          <svg class="icon-closes" viewBox="0 0 24 24">
            <use xlink:href="./../../../assets/image/close.svg"></use>
          </svg>
        </button>
        <img [src]="product.img" />
        <div class="card-tag" [ngClass]="getTagClass(product.type.id)">
          {{ product.type.text }}
        </div>
        <div class="card-text">
          <h3>{{ product.title }}</h3>
          <p>{{ product.description }}</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
