.icon-search {
    background: url("./../../assets/image/icon-search.svg") no-repeat center center;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
}

.icon-close {
    background: url("./../../assets/image/close.svg") no-repeat center center;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
}